extends ./layout/_base

block append variables
	- const title = 'Julia'

block content
	main.main.outer
		.main__logo
			img(src=`${img}/logo.png`, alt="logo")
		.inner
			h1.main__title Юлия приглашает вас на свой ДЕНЬ РОЖДЕНИЯ!

			.main__subtitle Друзья,
			p.main__text Осень плавно переходит в зиму, дни становятся короче, а ночи длиннее…
				| <br> И я знаю, как всем сейчас нужны тепло 
				| и позитивные моменты, поэтому превратила один уютный уголок Москвы в весеннюю ягодную полянку, где вместо звёзд нам будут светить яркие огни неона. 
			.main__subtitle.main__subtitle--2 И буду рада вас увидеть здесь!
			p.main__text.main__text--2 Приходите насладиться хорошей компанией и великолепной кухней, авторскими ягодными напитками и десертами!
			p.main__text.main__text--2 Корзины с собой можно не брать — все свежие ягоды уже собраны и будут ждать вас в разнообразной посуде. Зато в качестве подарка для меня вы можете сделать доброе дело. Мне нужно только ваше присутствие, а свой бюджет на подарок вы легко можете перевести на счёт благотворительного фонда «Подари Жизнь»:
			.main__btn-wrapper
				a(href="https://friends.podari-zhizn.ru/node/8461").main__gift-btn
			p.main__subtext Важно! Чтобы видеть ваши улыбки и счастливые лица, которые будут наслаждаться ягодной весной, вам не нужны защитные маски. А чтобы их не надевать в помещении в присутствии десятка гостей, прошу вас, за два дня до мероприятия сдайте тест на коронавирус. 
				| <br>Благодарю за понимание, и очень вас жду!
			.address
				.address-date 21.11.2020
				.address-time 17:00
				.address-place Jagger Hall
					| <br>Рочдельская ул., 
					| <br>15, стр. 30
			a(href="https://yandex.ru/maps/-/CCQ~FMRj1C").main__map-btn
