mixin findGiftItem
	.find-gift-item
		.find-gift-item__img: img(src=`${img}/services-1.jpg`, alt="find-gift-img")
		.find-gift-item__info
			.find-gift-item__title Работаем под ключ
			.find-gift-item__text Работая с нами вы экономите силы, время и деньги. Мы эффективно управляем заказами на всех этапах, доводим до безукаризненного результата. Делаем процесс понятным и прозрачным для вас.
			a(href="#").find-gift-item__link Подробнее
