.sl-pag {
  width: 100%;

  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 100;

  &-bullet {
    display: block;
    margin: 0 10px;

    width: 10px;
    height: 10px;

    border: 1px solid #e0e0e0;
    border-radius: 50%;
    &-active {
      background: #e0e0e0;
    }
  }

  // XM
  @media screen and (max-width: $xm-max) {
    bottom: 20px;
  }
}

.sl-nav {
  width: 40px;
  height: 40px;

  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
  transition: background 0.2s;
  &:hover {
    background: rgba(122, 122, 122, 0.14);
  }

  &::before {
    content: '';

    position: absolute;

    width: 9px;
    height: 14px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background: url('#{$imgPath}/icons/slider-arrow-left.svg') 50% / contain no-repeat;
  }
  &--next {
    right: -60px;
    &::before {
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }

  &--prev {
    left: -60px;
  }

  // LG
  @media screen and (max-width: $lg-max) {
    &--next {
      right: -20px;
    }
    &--prev {
      left: -20px;
    }
  }

  // XM
  @media screen and (max-width: $xm-max) {
    &--next {
      right: 0;
    }
    &--prev {
      left: 0;
    }
  }
}
