mixin footer
	footer.footer
		.outer.footer-wrapper
			.inner
				.footer-items
					.footer-item
						.footer-item__title Помощь
						ul.footer-item__list
							li: a(href="#") Как оформить заказ 
							li: a(href="#") Вопросы по продукции
							li: a(href="#") Как получить скидку
							li: a(href="#") Условия оплаты
							li: a(href="#") Доставка
							li: a(href="#") Гарантии и возврат
					.footer-item
						.footer-item__title О компании
						ul.footer-item__list
							li: a(href="#") О нас
							li: a(href="#") Новости
							li: a(href="#") Услуги
							li: a(href="#") Каталог
							li: a(href="#") Портфолио
					.footer-item
						.footer-item__title Контакты
						.footer-item__contacts
							.footer-item__contacts-item <span class='f-dim'>Телефон:</span> <a href="tel:#">8 (495) 990 4 990</a>
							.footer-item__contacts-item <span class='f-dim'>E-mail:</span> <a href="mailto:#">Info@slovodelo.ru</a>
							.footer-item__contacts-item <span class='f-dim'>Адрес:</span> г. Москва, Бережковская набережная<br>д. 20, стр. 64, 3 этаж
							.footer-item__contacts-item <span class='f-dim'>Режим работы:</span> Пн-пт 10:00-18:00
						.footer-item__socials
							.footer-item__socials-title Мы в сети
							.footer-item__socials-items
								a(href="#"): img(src= `${icons}/instagram.svg`)
								a(href="#"): img(src= `${icons}/facebook.svg`)
				.footer-copyright
					.footer-copyright__item 2021 «Словодело». Все права защищены
					.footer-copyright__item Разработка сайта - W-Artstudio


