mixin sectorsMap
  - const bg = require("~img/bg-plan.jpg?quality=50");
  //- section#krundidMap.s-sectorsMap.outer.lazy(data-bg=bg)
  section#krundidMap.s-sectorsMap.outer
    .h-full
      .h-full.flex.items-end.justify-center
        .s-sectorsMap-wrapper
          img(src=require("~img/sectors/Vector3.svg?inline"), aria-label="Sectors map")
