mixin stages
  section#etapid.s-stages.outer
    .inner
      h2.h2 Etapid
      h3.h3.mt-4.lg_mt-7(class="mb-[75px] lg_mb-[105px]") Realiseerimisaeg
      .hidden.lg_block
        img.s-stages-svg.max-w-full.-ml-10(src=require("~img/slider2.svg?inline"))
      .lg_hidden
        img.s-stages-svg-mobile.-ml-5(src=require("~img/slider-mobile.svg?inline"))
