mixin team
  section#meeskond.s-team.outer
    .inner
      h2.h2(x-data, x-intersect-class.once="animate-fadeInDownBig animate-distance-10") Meeskond
      h3.h3.mt-4o5.lg_mt-8.lg_ml-1.leading-tight(
        x-data,
        x-intersect-class.once="animate-fadeInDown animate-delay-300"
      ) Projekti loovad hoole ja armastusega:
      .lg_mt-5.lg_mt-36.lg_pr-3.lg_justify-end.flex.relative.mt-8
        img.s-team-11bg(src=require("~img/team-11.svg"), alt="11-bg")
        ol.s-team-list(
          x-data,
          x-intersect-class.once="animate-fadeInDownBig animate-distance-10 animate-delay-700"
        )
          li
            | Projekti loomine ja kontseptsioon &#160
            span Team Media OÜ в лице Dmitri Vain
          li
            | Projekti rahastamine &#160
            span Estateguru OÜ
          li
            | Dendroloogia &#160
            span Aquaplant Design OÜ
          li
            | Geodeesia - &#160
            span Geodeesia24 OÜ
          li
            | Geoloogia - &#160
            span Maves OÜ
          li
            | Kommunikatsioonide ja teede projekteerimine &#160
            span Skepast&Puhkim OÜ
          li
            | Visualiseerimine ja projekteerimine &#160
            span Dmitri Kulakov
          li
            | Veebdisain ja fotod &#160
            span Aleksandr Grusha, Sergey Smirnov
          li
            | Teede ja kommunikatsioonide ehitus &#160
            span On kuulutatud välja konkurss
          li
            | Arhitektuuribüroo &#160
            span VNDL ARHITEKTUUR OÜ
          li
            | Kruntide müük &#160
            span Svetlana Davidovski
