@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

@mixin size($w: auto, $h: auto) {
  width: $w;
  height: $h;
}

@mixin flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin flex-gap-p($gap-x, $gap-y: 0) {
  $mGap-x: -$gap-x;
  margin: $mGap-x 0 0 $mGap-x;
  width: calc(100% + $gap-x);
}

@mixin flex-gap-c($gap-x, $gap-y: 0) {
  margin: $gap-x 0 0 $gap-x;
}
