section.outer.pb-11.pt-48.lg_pb-44.lg_pt-64
  .inner
    h2.text-xl.font-semibold.sm_text-2xl.lg_text-3xl(class='max-w-[528px]') Berkembang #[span.text-lightsalmon-03 Bebas] Bersama
    //- .mt-7.lg_grid.items-center.justify-center.gap-x-3.max-lg_grid-cols-3.lg_mt-20.lg_grid-flow-col.lg_gap-x-12
    .mt-7.flex.justify-center.gap-x-12.gap-y-3.max-lg_flex-col.lg_items-center
      .flex.items-center.justify-between.gap-x-6.lg_gap-x-12
        +img('~img/logo-prakerja.png')
        +img('~img/logo-tokopedia.png')
        +img('~img/logo-sekolahmu.png')
      .flex.items-center.justify-between.gap-x-6.lg_gap-x-12
        +img('~img/logo-tkfy.png')
        +img('~img/logo-zakkel.png').mx-auto
        +img('~img/logo-secre.png')
