section.outer.py-20.lg_py-44
  .inner
    .grid.gap-5.sm_grid-cols-2
      .sm_pl-2(class='max-w-[528px]')
        h2.text-xl.font-semibold.sm_text-2xl.lg_text-3xl Kenalan sama #[span.block.text-lightsalmon-03 Mentor Bebasjamkerja]
        p.mt-6 Mentor-mentor Bebasjamkerja berasal dari orang-orang yang #[span.font-semibold sudah terjun lama di bidangnya]
      .grid.grid-cols-3.gap-2o5.pt-2o5.md_gap-5.lg_pt-3o5
        +img('~img/mentor1.jpg').rounded-2xl
        +img('~img/mentor2.jpg').rounded-2xl
        +img('~img/mentor3.jpg').rounded-2xl
        +img('~img/mentor4.jpg').rounded-2xl
        +img('~img/mentor5.jpg').rounded-2xl
        +img('~img/mentor6.jpg').rounded-2xl
