extends ~views/layout/default

block append variables
  - title = 'Main';

block content
  include ~views/sections/_promo
  include ~views/sections/_bebas
  include ~views/sections/_yang
  include ~views/sections/_kenalan
  include ~views/sections/_warga
  include ~views/sections/_berkembang
  include ~views/sections/_jangan
