mixin tippy
  #s-tippy1(style="display: none")
    .po-sector 
      p
        span Krunt nr 1
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt

  #s-tippy2(style="display: none")
    .po-sector 
      p
        span Krunt nr 2
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy3(style="display: none")
    .po-sector 
      p
        span Krunt nr 3
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy4(style="display: none")
    .po-sector 
      p
        span Krunt nr 4
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy5(style="display: none")
    .po-sector 
      p
        span Krunt nr 5
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy6(style="display: none")
    .po-sector 
      p
        span Krunt nr 6
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy7(style="display: none")
    .po-sector 
      p
        span Krunt nr 7
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy8(style="display: none")
    .po-sector 
      p
        span Krunt nr 8
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy9(style="display: none")
    .po-sector 
      p
        span Krunt nr 9
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy10(style="display: none")
    .po-sector 
      p
        span Krunt nr 10
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
  #s-tippy11(style="display: none")
    .po-sector 
      p
        span Krunt nr 11
        span Vaba
      ul
        li
          span Krundi pindala
          span 2324 m2
        li
          span Hoonestuse
          span 348 m2
        li
          span Aadress
          span Vainu tee 12
        li
          span Hind
          span 350 000 €
      button.mt-7 Lähemalt
