mixin s-dream-team
  section.outer.s-dream-team.pt-4.pb-8.lg_pt-16.lg_pb-36
    .inner
      .text-center
        h2.sec-title Dream Team
        p.sec-subtitle.text-rose-bud.dsm_mt-2 Meet our members
      .mx-auto.mt-5.grid.gap-x-5.gap-y-5.xs_mt-10.lg_mt-20.lg_grid-cols-2.md_gap-y-10(
        class='max-w-[1142px]'
      )
        article.s-dream-team-item
          +img('~img/team-1.png').s-dream-team-img
          .s-dream-team-descr
            .s-dream-team-descr-content
              h3.text-3xl.font-bold.text-white Ava Addams
              span.text-xl.font-light Designer
              p.mt-3.font-light.leading-relaxed(class='text-[15px]') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.
              .flex.mt-3.s-dream-team-socials.gap-3o5
                a(href='#'): span.icm.icm-facebook
                a(href='#'): span.icm.icm-youtube
                a(href='#'): span.icm.icm-instagram
                a(href='#'): span.icm.icm-twitter
        article.s-dream-team-item.--bg2
          +img('~img/team-2.png').s-dream-team-img
          .s-dream-team-descr
            .s-dream-team-descr-content
              h3.text-3xl.font-bold.text-white Ellen Marlen
              span.text-xl.font-light Designer
              p.mt-3.font-light.leading-relaxed(class='text-[15px]') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.
              .flex.mt-3.s-dream-team-socials.gap-3o5
                a(href='#'): span.icm.icm-facebook
                a(href='#'): span.icm.icm-youtube
                a(href='#'): span.icm.icm-instagram
                a(href='#'): span.icm.icm-twitter
        article.s-dream-team-item.--reverse.--bg2
          +img('~img/team-3.png').s-dream-team-img
          .s-dream-team-descr
            .s-dream-team-descr-content
              h3.text-3xl.font-bold.text-white Rebecca Le
              span.text-xl.font-light Designer
              p.mt-3.font-light.leading-relaxed(class='text-[15px]') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.
              .flex.mt-3.s-dream-team-socials.gap-3o5
                a(href='#'): span.icm.icm-facebook
                a(href='#'): span.icm.icm-youtube
                a(href='#'): span.icm.icm-instagram
                a(href='#'): span.icm.icm-twitter
        article.s-dream-team-item.--reverse
          +img('~img/team-4.png').s-dream-team-img
          .s-dream-team-descr
            .s-dream-team-descr-content
              h3.text-3xl.font-bold.text-white Andy Shped
              span.text-xl.font-light Drinker
              p.mt-3.font-light.leading-relaxed(class='text-[15px]') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dui ante, cons non profit here.
              .flex.mt-3.s-dream-team-socials.gap-3o5
                a(href='#'): span.icm.icm-facebook
                a(href='#'): span.icm.icm-youtube
                a(href='#'): span.icm.icm-instagram
                a(href='#'): span.icm.icm-twitter
