mixin s-natural
  section.s-natural.outer.py-5.md_py-10.xl_py-16
    .inner
      .text-center
        h2.sec-title Natural Smoothies
        p.sec-subtitle.text-rose-bud.dsm_mt-2 Drink natural to be stronger
      .s-natural-items.flex.justify-center.flex-wrap.gap-5.text-center(
        class='mt-5 sm_mt-10 xl_mt-[87px] xl_gap-y-[26px]'
      )
        +natural-items
