mixin s-our-menu
  section.s-our-menu.outer
    .s-our-menu-content.top-pattern.bottom-pattern.py-32.lg_py-44.dsm_pb-20
      .inner
        .text-center
          h2.sec-title.text-white.leading-tight(class='text-[50px]') Our Menu
          span.sec-subtitle.text-caper Tasty and Natural
        .mt-8.grid.gap-y-7.gap-x-10.lg_mt-16.xs_grid-cols-2.md_px-5.md_gap-x-20.md_gap-y-11
          +menu-item({ img: '~img/menu-1.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 38 })
          +menu-item({ img: '~img/menu-2.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 38 })
          +menu-item({ img: '~img/menu-3.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 28 })
          +menu-item({ img: '~img/menu-4.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 18 })
          +menu-item({ img: '~img/menu-5.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 31 })
          +menu-item({ img: '~img/menu-6.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 91 })
          +menu-item({ img: '~img/menu-7.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 57 })
          +menu-item({ img: '~img/menu-8.png', title: 'Tasty Banana Smoothie', descr: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ipsum dolor sit amet, consectetur adipiscing.', price: 28 })
