mixin s-testimonials
  section.s-testimonials.outer.pt-5.pb-12.lg_pb-24.lg_pt-10
    .inner
      .text-center
        h2.sec-title Testimonials
        p.sec-subtitle.text-rose-bud.dsm_mt-2 What other say about us
      .testimonials-swiper.swiper.mt-5.lg_mt-16
        .swiper-wrapper.pb-10
          .swiper-slide
            .mx-auto.max-w-screen-md.text-center
              span.text-xl.font-bold Ava Addams
              p.mt-3.text-xl.text-dusty-gray.font-light.leading-tight Lelit. Etiam eget feugiat ante. Mauris vestibulum turpis purus, vulputate vehicula magna aliquet et. Etiam in arcu ut tellus fringilla blandit.
              a.inline-block.mt-4.text-periwinkle-gray(href='#') More details
          .swiper-slide
            .mx-auto.max-w-screen-md.text-center
              span.text-xl.font-bold Ava Addams
              p.mt-3.text-xl.text-dusty-gray.font-light.leading-tight Lelit. Etiam eget feugiat ante. Mauris vestibulum turpis purus, vulputate vehicula magna aliquet et. Etiam in arcu ut tellus fringilla blandit.
              a.inline-block.mt-4.text-periwinkle-gray(href='#') More details
          .swiper-slide
            .mx-auto.max-w-screen-md.text-center
              span.text-xl.font-bold Ava Addams
              p.mt-3.text-xl.text-dusty-gray.font-light.leading-tight Lelit. Etiam eget feugiat ante. Mauris vestibulum turpis purus, vulputate vehicula magna aliquet et. Etiam in arcu ut tellus fringilla blandit.
              a.inline-block.mt-4.text-periwinkle-gray(href='#') More details
        .swiper-pagination
