.testimonials-swiper {
  .swiper-pagination {
    display: flex;
    gap: 5px;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: unset;

      opacity: 1;
      background-color: theme('colors.caper');

      &-active {
        background-color: theme('colors.rose-bud');
      }
    }
  }
}
