.po-sector {
  width: 247px;
  padding: 8px 20px 16px;

  border-radius: 15px;

  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    display: grid;
    gap: 4px;

    margin-top: 28px;

    font-size: 12px;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  button {
    width: 211px;
    height: 25px;

    font-size: 12px;
    font-weight: 300;

    border: 1px solid theme('colors.th-white');
    border-radius: 15px;
  }
}
