.examples {
	&__header {
		display: none;
		max-width: 68rem;

		font-size: 5.5rem;
		font-weight: 700;
		line-height: 5.7rem;
	}
	&-item {
		&--1 {
			padding-top: 10rem;
			min-height: 700px;

			background: url('#{$imgPath}/examples-bg-1.jpg') 50% / cover no-repeat;
			color: #fff;
		}
		&--2 {
			padding-top: 7rem;
			@media screen and (min-width: $md-min) {
				height: 485px !important;
				min-height: 48.5rem;
			}

			background: url('#{$imgPath}/examples-bg-2.jpg') top right / cover no-repeat;
			.inner {
				display: flex;
				justify-content: flex-end;
			}
		}
		&--3 {
			padding-top: 7rem;
			min-height: 56rem;
			height: 562px !important;

			background: url('#{$imgPath}/examples-bg-3.jpg') 50% / cover no-repeat;
			color: #fff;
		}
		&__header {
			max-width: 68rem;

			font-size: 5.5rem;
			font-weight: 700;
			line-height: 5.7rem;
		}
		&__content {
			margin-top: 3.5rem;
			max-width: 66rem;

			display: grid;
			grid-template-areas: 'client task' 'result result';
			gap: 4rem 9rem;
			&--2 {
				gap: 4rem 7rem;
			}
			&--3 {
				gap: 4rem 16rem;
			}
		}
	}
	&-subitem {
		&--result {
			grid-area: result;
		}
		&__title {
			font-size: 35px;
			font-weight: 700;
			&--2 {
				@include g-text(linear-gradient(-77deg, #ff40f8 0%, #a740ff 35%, #4045ff 70%, #40e6ff 100%));
			}
		}
		&__descr {
			margin-top: 1rem;

			font-size: 18px;
			line-height: 24px;
			ol li {
				margin-top: 1.5rem;
				list-style-position: inside;
				list-style-type: decimal;
			}
		}
	}

	@media screen and (max-width: $sm-max) {
		&__slider {
			margin-top: 50px;
			height: 811px;
		}
		&__header {
			padding-left: 15px;

			display: block;
			font-size: 44px;
			line-height: 46px;
		}
		&__slider {
			padding-left: 15px;
		}
		&-item {
			padding-top: 20px;
			padding-left: 28px;

			width: 90%;
			height: 811px !important;

			border-radius: 5px;
			&--2 {
				.inner {
					justify-content: flex-start;
				}
			}
			&__header {
				display: none;
			}
			&__content {
				grid-template-areas: none;
				grid-template-columns: 1fr;
				grid-gap: 7rem 9rem;
			}
		}
		&-subitem {
			&--result {
				grid-area: unset;
			}
		}
	}
	@media screen and (max-width: $sm-max) {
		&-item {
			&--1 {
				background: url('#{$imgPath}/examples-bg-1-m.png') 50% / cover no-repeat;
			}
			&--2 {
				background: url('#{$imgPath}/examples-bg-2-m.png') 50% / cover no-repeat;
				color: #fff;
			}
			&--3 {
				background: url('#{$imgPath}/examples-bg-3-m.png') 50% / cover no-repeat;
			}
		}
		&-subitem {
			&__title {
				background: none;
				color: #fff;
			}
		}
	}
}
