html {
	scroll-behavior: smooth;
	font-size: 10px; /*for using REM units*/
	@media screen and (max-width: $lg-max) {
		font-size: 9px;
	}
	@media screen and (max-width: $md-max) {
		font-size: 8px;
	}
	@media screen and (max-width: $xm-max) {
		font-size: 7px;
	}
}
body {
	font-family: Rockwell, sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.15 !important;
	color: white;
}
