.find-gift {
  padding-top: 30px;
  padding-bottom: 30px;

  &-block {
    margin-top: 30px;
    &__title {
      text-align: center;

      font-size: 22px;
      font-weight: 700;
      color: #d0043c;
    }
  }

  &-filters {
    margin-top: 30px;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    gap: 30px;

    font-size: 20px;
  }

  &-filter {
    padding: 15px;
    padding-right: 60px;

    height: 60px;

    border: 1px solid #515050;
    border-radius: 15px;

    @include flex;

    position: relative;
    &__text {
      padding-right: 14px;
    }
    &__arrow {
      width: 60px;
      height: 60px;

      @include flex;

      position: absolute;
      right: 0;
      top: 0;

      border-radius: inherit;
      border-left: 1px solid #515050;

      &::before {
        content: '';

        // width: 5px;
        // height: 9px;

        border: solid #515050;
        border-width: 0 2px 2px 0;
        padding: 3px;
        transform: rotate(45deg);
      }
    }
  }

  // &-slider {
  //   &-wrapper {
  //     margin-top: 60px;
  //   }
  // }

  &-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 34px 30px;
  }
  &-item {
    &__img {
      border-radius: 15px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      margin-top: 25px;
    }

    &__title {
      font-size: 18px;
      font-weight: 700;
    }
    &__text {
      margin-top: 12px;
      font-size: 15px;
      line-height: 1.73;
    }
    &__link {
      display: block;
      margin-top: 15px;

      font-size: 15px;
      text-decoration: underline;
    }
  }

  &-nav {
    margin-top: 60px;
  }

  // SM
  @media screen and (max-width: $sm-max) {
    &-items {
      gap: 20px 15px;
    }
    &-item {
      &__info {
        margin-top: 10px;
      }
    }
  }

  // XM
  @media screen and (max-width: $xm-max) {
    &-filters {
      grid-template-columns: 1fr;
      gap: 15px;

      font-size: 18px;
    }
    &-items {
      margin-top: 20px;

      grid-template-columns: 1fr;
    }
  }
}
